{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(addSubjectForm) }}
    <div class="text-xl">
        Add new subject
    </div>

    <div>
        {{ form_label(addSubjectForm.description, 'Description', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
        {{ form_widget(addSubjectForm.description, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}})}}
        {{ form_errors(addSubjectForm.description) }}
    </div>

    <div>
        {{ form_label(addSubjectForm.subject, 'Discipline', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
        {{ form_widget(addSubjectForm.subject, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}})}}
        {{ form_errors(addSubjectForm.subject) }}
    </div>

    <div>
        {{ form_row(addSubjectForm.contentFile, {'attr': {'class': ''}}) }}
        {{ form_errors(addSubjectForm.contentFile) }}
    </div>

    <div>
        {{ form_label(addSubjectForm.subjectContent, 'Subject Content', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
        {{ form_widget(addSubjectForm.subjectContent, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}})}}
        {{ form_errors(addSubjectForm.subjectContent) }}
    </div>

    <div>
        {{ form_label(addSubjectForm.subjectRequirements, 'Optional requirements', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
        {{ form_widget(addSubjectForm.subjectRequirements, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}})}}
        {{ form_errors(addSubjectForm.subjectRequirements) }}
    </div>

    <div class="border-b border-gray-300"></div>

    <div class="text-gray-500 mb-4 pb-4 border-b border-gray-300">

        <button type="submit"
                class="block w-full shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Save</button>
    </div>
    {{ form_row(addSubjectForm.id) }} {# this field is hidden and will not be displayed #}

    {{ form_end(addSubjectForm) }}

{% endblock %}