{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_STUDENT') and notAssignedToAGroup is defined and notAssignedToAGroup == true %}
        <div class="label-elem box">
            You do not belong to any group!
            Please request access from a teacher!
        </div>
        <div class="label-elem box">
            You can access the
            <a href="{{ path('app_support') }}"><strong> TalkSpot </strong></a>
            section in order to contact the teacher!
        </div>
    {% else %}
        <div class="label-elem">
            Assessments:
        </div>
        </br><br>

        <div>
            <table style="width: 100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Description</th>
                        <th>Start At</th>
                        <th>End At</th>
                        <th>Time Limit</th>
                        <th>Time Unit</th>
                        {% if is_granted('ROLE_TEACHER') %}
                            <th>Assignee Group</th>
                            <th>Status</th>
                        {% endif %}
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assessment in assessmentsList %}
                        <div>
                            <tr>
                                <td>{{ assessment.id }}</td>
                                <td>{{ assessment.description }}</td>
                                <td>{{ assessment.startAt|date('d/m/Y') }}</td>
                                <td>{{ assessment.endAt|date('d/m/Y') }}</td>
                                <td>{{ assessment.timeLimit }}</td>
                                <td>{{ assessment.timeUnit }}</td>
                                {% if is_granted('ROLE_TEACHER') %}
                                    <td>{{ assessment.assigneeGroup|join(', ') }}</td>
                                    <td>{{ assessment.status }}</td>
                                    <td>
                                        {% if assessment.status == 'Active' %}
                                            <a href="{{ path('app_assessment_disable', { assessmentId: assessment.id }) }}">
                                                Disable
                                            </a>
                                        {% else %}
                                            <a href="{{ path('app_assessment_enable', { assessmentId: assessment.id }) }}">
                                                Enable
                                            </a>
                                        {% endif %}
                                        <a href="{{ path('app_assessment_all_results', { assessmentId: assessment.id }) }}">
                                            View all results
                                        </a>
                                    </td>
                                {% elseif is_granted('ROLE_STUDENT') %}
                                    <td>
                                        <a href="{{ path('app_start_assessment', { assessment: assessment.id }) }}">
                                            Start
                                        </a>
                                        <a href="{{ path('app_show_submitted_assessment', { assessmentId: assessment.id, userId: app.user.id }) }}">
                                            View results
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
