{% extends 'base.html.twig' %}

{% block bread %}
    → Assessments

{%  endblock %}

{% block body %}

    <div>
        <a href="{{ path('app_add_subject') }}">
            Add new subject
        </a>
    </div>


    <div>
        <a href="{{ path('app_schedule_assessment') }}">
            Schedule assessment
        </a>
    </div>

    <div>
        <a href="{{ path('app_show_assessments') }}">Assessments</a>
    </div>

    <hr>
    <div>
        <a href="{{ path('app_quiz_questions') }}">
            Load quiz questions
        </a>
    </div>

    <div>
        <a href="{{ path('app_quiz_create') }}">
            Create quiz
        </a>
    </div>

    <div>
        <a href="{{ path('app_quiz_questions_show') }}">
            Quiz Questions
        </a>
    </div>

    <div>
        <a href="{{ path('app_show_quizzes') }}">Show quizzes</a>
    </div>


{% endblock %}
