{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_TEACHER') %}
        <div class="container">
            {% if quizQuestionsFromFileForm is defined %}
                <div class="box">
                    {{ form_start(quizQuestionsFromFileForm) }}
                    <label class="label" style="margin-left: 30px">
                        Load quiz questions from file:
                    </label><br>
                    <div class="box">
                        {{ form_label(quizQuestionsFromFileForm.category, 'Category', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
                        {{ form_widget(quizQuestionsFromFileForm.category, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}})}}
                        {{ form_errors(quizQuestionsFromFileForm.category) }}

                        {{ form_row(quizQuestionsFromFileForm.contentFile) }}
                        {{ form_errors(quizQuestionsFromFileForm.contentFile) }}

                        <button type="submit" class="save-button">
                            Save
                        </button>

                        {{ form_end(quizQuestionsFromFileForm) }}
                    </div>
                </div>
            {% endif %}

            <div class="box">
                {{ form_start(quizQuestions) }}
                <label class="label" style="margin-left: 30px">
                    Add/Edit question content:
                </label><br>
                <div class="box">
                    {{ form_label(quizQuestions.category, 'Category', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
                    {{ form_widget(quizQuestions.category, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}})}}
                    {{ form_errors(quizQuestions.category) }}

                    {{ form_label(quizQuestions.optionalDescription, 'Optional description', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
                    {{ form_widget(quizQuestions.optionalDescription, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}})}}
                    {{ form_errors(quizQuestions.optionalDescription) }}

                    {{ form_label(quizQuestions.questionContent, 'Question content', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
                    {{ form_widget(quizQuestions.questionContent, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}})}}
                    {{ form_errors(quizQuestions.questionContent) }}

                    {{ form_label(quizQuestions.choiceA, 'Choice A', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
                    {{ form_widget(quizQuestions.choiceA, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}})}}
                    {{ form_errors(quizQuestions.choiceA) }}

                    {{ form_label(quizQuestions.choiceB, 'Choice B', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
                    {{ form_widget(quizQuestions.choiceB, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}})}}
                    {{ form_errors(quizQuestions.choiceB) }}

                    {{ form_label(quizQuestions.choiceC, 'Choice C', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
                    {{ form_widget(quizQuestions.choiceC, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}})}}
                    {{ form_errors(quizQuestions.choiceC) }}

                    {{ form_label(quizQuestions.choiceD, 'Choice D', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
                    {{ form_widget(quizQuestions.choiceD, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}})}}
                    {{ form_errors(quizQuestions.choiceD) }}

                    {{ form_label(quizQuestions.correctAnswer, 'Correct answer', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
                    {{ form_widget(quizQuestions.correctAnswer, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}})}}
                    {{ form_errors(quizQuestions.correctAnswer) }}

                    <button type="submit" class="save-button">
                        Save Question
                    </button>
                </div>

                {{ form_row(quizQuestions.id) }} {# this field is hidden and will not be displayed #}

            </div>
            {{ form_end(quizQuestions) }}
    {% endif %}
    </div>
{% endblock %}