{% extends 'base.html.twig' %}

{% block body %}
    <br>
    {% if submittedAssessments == null %}
    <div class="label-elem box"> This was not attempted yet!</div>
    {% else %}
        <div class="container">
            <div class="box">
                <span>Assessment Id:  {{ requiredAssessment.id }}</span><br>
                <div style="color: black; font-size: 14px; margin-left: 30px">
                    <br>
                    <div>
                        Discipline:  {{ requiredAssessment.subject.subject }}
                    </div>
                    <div>
                        Duration:  {{ requiredAssessment.timeLimit~' '~requiredAssessment.timeUnit }}
                    </div>
                    <span>Start at:  {{ requiredAssessment.startAt|date('d/m/Y') }}</span>
                    <span>End at:  {{ requiredAssessment.endAt|date('d/m/Y') }}</span><br>
                    <label>Assigned Groups:
                        {% for group in requiredAssessment.assigneeGroup %}
                            {{ group~' ' }}
                        {% endfor %}
                    </label><br>
                    <label>Subject:  {{ requiredAssessment.subject.id~' '~requiredAssessment.subject.description }}</label><br>
                    <label>Description:  {{ requiredAssessment.description }}</label><br>
                </div>
                <button class="save-button">
                    <a href="{{ path('app_download_subject_content', { subject: (requiredAssessment.subject.id) }) }}">
                        Download subject content
                    </a>
                </button>
            </div>
            <br>
            <div class="label" style="margin-left: 30px">
                Attempted by:
            </div>
            <br>
            <br>
            <table style="width: 100%">
                <thead>
                <tr>
                    <th>Unique identifier </th>
                    <th>Student id</th>
                    <th>Group</th>
                    <th>Email</th>
                    <th>Started at</th>
                    <th>Ended at</th>
                    <th>Spent time</th>
                    <th>Compiled successfully</th>
                    <th>Found errors</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for submittedAssessment in submittedAssessments %}
                    <div>
                        <tr>
                            <td>{{ submittedAssessment.id }}</td>
                            <td>{{ submittedAssessment.submittedBy.id }}</td>
                            {% for group in groups %}
                                {% if group.id == submittedAssessment.submittedBy.student.groupId %}
                                    <td>{{ group.groupNo }}</td>
                                {% endif %}
                            {% endfor %}
                            <td>{{ submittedAssessment.submittedBy.email }}</td>
                            <td>{{ submittedAssessment.startedAt|date('Y-m-d H:i:s') }}</td>
                            <td>{{ submittedAssessment.endedAt|date('Y-m-d H:i:s') }}</td>
                            <td>{{ submittedAssessment.timeSpent|date('H:i:s') }}</td>
                            <td>
                                {% if submittedAssessment.resultedResponse['compiledSuccessfully'] == true %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                            <td>
                                {% if submittedAssessment.resultedResponse['errorMessage']|length > 0 %}
                                    {% for error in submittedAssessment.resultedResponse['errorMessage'] %}
                                        {{ error ~','}}
                                    {% endfor %}
                                {% else %}
                                    <label>No errors found</label><br>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('app_show_submitted_assessment', { assessmentId: requiredAssessment.id, userId: submittedAssessment.submittedBy.id }) }}">
                                    View detailed
                                </a>
                            </td>
                        </tr>
                    </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

{% endblock %}