{% extends 'base.html.twig' %}

{% block body %}
{#    to do: timer for startAt and EndAt, if the time has passed stop assessment#}
    <div>
        <div>
            {{ requiredAssessment.description }}
        </div>
        <div>
            {#                     TO DO: add programming language in assessment#}
            <label>Programming language to use: C++ </label>
        </div>
        <div>
            {% for requiredSubject in requiredSubjects %}
            <div>
                <div>
                    <span>Requirement: </span>
                </div>
                <div>
                    {{ requiredSubject.subject }}
                </div>
                <div>
                    {% if requiredSubject.subjectRequirements is not null %}
                        <label>Additional information:</label>
                        <span>{{ requiredSubject.subjectRequirements }}</span>
                    {% else %}
                        <label>No specific requirements</label>
                    {% endif %}
                </div>
                <div>
                    {% if requiredSubject.subjectContent is not null %}
                        <label>Resolve the following:</label>
                        <div>
                            <span>{{ requiredSubject.subjectContent }}</span>
                        </div>
                    {% endif %}
                    {% if requiredSubject.subjectContent is defined %}
{#                        add span with the content#}
                        <div>
                            <a href="{{ path('app_download_subject_content', { subject: (requiredSubject.id) }) }}">Download subject content</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
                <div>
                    <label>Write below the solution</label>
                    {{ form_start(submittedCode) }}
                    <div>
                        {{ form_widget(submittedCode.run, { 'label': 'Run' }) }}
                    </div>
                    <div>
                        {{ form_widget(submittedCode.submit, { 'label': 'Submit' }) }}
                    </div>

                </div>
                <div>
                    {{ form_widget(submittedCode.codeArea, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}})}}
                    {{ form_errors(submittedCode.codeArea) }}
                </div>
                {{ form_end(submittedCode) }}
                <div>
                    <label>Resulted output:</label>
                    <div>
                        <textarea style="width: 100%; color: black; height: 150px">
                            {{ responseMessage }}
                        </textarea>
                    </div>
                </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        </div>



    </div>

    <script>
        function saveAssessment()
        {
            console.log('here');
            // const data = document.getElementById("codeText").getElementsByTagName("iframe");
            const data = document.getElementsByClassName("codeText");
            console.log(data);
            const tmp = (data[0].querySelector('iframe'));
            const docTmp = (tmp.ownerDocument);
            // console.log(docTmp.getElementsByClassName('ace_text-layer'));
            console.log(docTmp);
            const docc = document.getElementsByClassName("app-wrap");
            console.log(docc);
            for (let i = 0; i < docc.length; i++) {
                console.log(docc[i].textContent);
            }

            // const elmnt = tmp.contentWindow.document;
            // const elmnt = $('#codeText').contents().find('ace_text-layer');

            // ace_layer ace_text-layer foreach ace_line get span ace_identifier

        }
    </script>

{% endblock %}