{% extends 'base.html.twig' %}

{% block body %}
{#    to do: timer for startAt and EndAt, if the time has passed stop assessment#}
    <div>
        <div>
            {{ requiredAssessment.description }}
        </div>
        <div>
            {#                     TO DO: add programming language in assessment#}
            <label>Programming language to use: C++ </label>
        </div>
        <div>
            {% for requiredSubject in requiredSubjects %}
                <hr>
            <div>
                <div>
                    <span>Requirement: </span>
                </div>
                <div>
                    {{ requiredSubject.subject }}
                </div>
                <div>
                    {% if requiredSubject.subjectRequirements is not null %}
                        <label>Additional information:</label>
                        <span>{{ requiredSubject.subjectRequirements }}</span>
                    {% else %}
                        <label>No specific requirements</label>
                    {% endif %}
                </div>
                <div>
                    {% if requiredSubject.subjectContent is not null %}
                        <label>Resolve the following:</label>
                        <div>
                            <span>{{ requiredSubject.subjectContent }}</span>
                        </div>
                    {% endif %}
                    {% if requiredSubject.subjectContent is defined %}
{#                        add span with the content#}
                        <div>
                            <a href="{{ path('app_download_subject_content', { subject: (requiredSubject.id) }) }}">Download subject content</a>
                        </div>
                        <button id="toggle-{{ requiredSubject.id }}" onclick="toggleContent('{{ requiredSubject.id }}')">View Content File</button>
                        <div id="{{ requiredSubject.id }}" aria-readonly="true" >
                            {{ filesContent[requiredSubject.id]|raw }}
                        </div>
                    {% endif %}
                </div>
                <hr>
            </div>
            {% endfor %}
                <div>
                    <label>Write below the solution</label>
                    {{ form_start(submittedCode) }}
                    <div>
                        {{ form_widget(submittedCode.run, { 'label': 'Run' }) }}
                    </div>
                    <div>
                        {{ form_widget(submittedCode.submit, { 'label': 'Submit' }) }}
                    </div>

                </div>
                <div>
                    {{ form_widget(submittedCode.codeArea, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}})}}
                    {{ form_errors(submittedCode.codeArea) }}
                </div>
                {{ form_end(submittedCode) }}
                <div>
                    <label>Resulted output:</label>
                    <div>
                        <textarea style="width: 100%; color: black; height: 150px">
                            {{ responseMessage }}
                        </textarea>
                    </div>
                </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        </div>



    </div>
{% endblock  %}

{% block stylesheets %}
    <style>
        #file-content {
            display: none;
        }
        #file-content.show {
            display: block;
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function toggleContent(subjectId) {
            var contentDiv = document.getElementById(subjectId);
            var toggleButton = document.getElementById('toggle-' + subjectId);

            if (contentDiv.style.display === 'none') {
                contentDiv.style.display = 'block';
                toggleButton.textContent = 'Hide Content';
            } else {
                contentDiv.style.display = 'none';
                toggleButton.textContent = 'View Content';
            }
        }
    </script>

{% endblock %}