{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_TEACHER') %}
        <div class="container">
            <div class="label" style="margin-left: 30px">
                Subject List:
            </div><br>
            <div class="box">
                <table style="width: 100%; table-layout: auto;">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Subject</th>
                        <th>Description</th>
                        <th>Optional requirements</th>
                        <th>Subject content</th>
                        <th>File name</th>
                        <th>Created at</th>
                        <th>Last modified</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for subject in subjects %}
                        <div>
                            <tr>
                                <td>{{ subject.id }}</td>
                                <td>{{ subject.subject }}</td>
                                <td>{{ subject.description }}</td>
                                <td>{{ subject.subjectRequirements }}</td>
                                <td>{{ subject.subjectContent }}</td>
                                <td>
                                    <a href="{{ path('app_download_subject_content', { subject: (subject.id) }) }}">
                                        {{ subject.fileName }}
                                    </a>
                                </td>
                                <td>{{ subject.createdAt|date('Y-m-d H:i:s') }}</td>
                                <td>{{ subject.lastModified|date('Y-m-d H:i:s') }}</td>
                                <td>
                                    <a href="{{ path('app_edit_subject', { subjectId: (subject.id) }) }}" title="Edit">
                                        {#                                        Edit#}
                                        <img src="/../images/edit_icon.png" alt="Edit" title="Edit" width="24" height="24" style="display: inline-block" />
                                    </a>
                                    <a href="{{ path('app_delete_subject', { subjectId: (subject.id) }) }}" title="Delete">
                                        {#                                        Delete#}
                                        <img src="/../images/delete_icon.png" alt="Delete" title="Delete" width="24" height="24" style="display: inline-block" />
                                    </a>
                                </td>
                            </tr>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#filter-btn').on('click', function() {
            $(this).closest('form').submit();
        });
        window.onload = function() {
            var buttonText = document.querySelector('#filter-btn div').textContent;
            document.querySelector('#action').value = buttonText;
        };
    </script>

{% endblock %}