{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}

    <div>
        {{ form_label(form.groupNo, 'Group no', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
        {{ form_widget(form.groupNo, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}})}}
        {{ form_errors(form.groupNo) }}
    </div>

    <div>
        {{ form_label(form.faculty, 'Faculty', {'label_attr': {'class': 'block text-sm text-gray-700 dark:text-gray-300 font-medium'}}) }}
        {{ form_widget(form.faculty, {'attr': {'class': 'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2'}})}}
        {{ form_errors(form.faculty) }}
    </div>

    <div>
        {{ form_widget(form.save, {'attr': {'class': 'block w-full shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2'}}) }}
    </div>

    {{ form_end(form) }}
    </div>
{% endblock %}