{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_TEACHER') %}
        <div class="container">
            <br>
            <div class="box">
                <label class="label" style="margin-left: 30px">
                    Group id: {{ group.id }}
                </label><br>
                <div  style="font-size: 14px; margin-left: 30px">
                    <label class="label">
                        Group no: {{ group.groupNo }}
                    </label><br>
                    <label>
                        Created at: {{ group.createdDate|date('Y-m-d') }}
                    </label><br>
                    <label>
                        Faculty: {{ group.faculty }}
                    </label>
                </div>
            </div>
            <br>
            <div class="box">
                <label class="label" style="margin-left: 30px">
                    Add from existing students
                </label><br><br>
                <label for="all-students-list" class="label" style="margin-right: 25px; margin-left: 40px">
                    Select email to add:
                </label>
                <select style="color: black" id="all-students-list">
                    {% for stud in allStudents %}
                        <option value="{{ stud.user.id }}">{{ stud.user.email }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <button class="save-button">
                    <a href="#" id="add-existing-student-btn">
                        Add selected student to group {{ group.groupNo }}
                    </a>
                </button>
            </div>
            <br>

            <div class="box label" style="margin-left: 30px">
                <button id="create-student-account-btn" style="margin-left: 30px">
                    Create students account
                </button>
                <br>
                <div class="students-form-add" id="students-form-div" style="color: black">
                </div>
                <button id="save-students-btn" class="save-button">
                    Save
                </button>
            </div>
            <br>
            <div class="label" style="margin-left: 30px">
                Assigned group students list:
            </div><br>
            <table>
                <thead>
                <tr>
                    <th>Unique identifier</th>
                    <th>Email</th>
                    <th>Enrollment date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for student in studentsList %}
                    <tr>
                        <td>{{ student.id }}</td>
                        <td>{{ student.user.email }}</td>
                        <td>{{ student.enrollmentDate|date('Y-m-d') }}</td>
                        <td>
                            <a href="{{ path('app_group_remove_student', { groupId: group.id, studentId: student.id}) }}">
                                Remove from group
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let routeUrl = '';
            var allStudentsList = document.getElementById('all-students-list');
            var addExistingStudentBtn = document.getElementById('add-existing-student-btn');
            var group = {{ group|json_encode() }};

            var createStudentsBtn = document.getElementById('create-student-account-btn');
            var studentsFormDiv = document.getElementById('students-form-div');
            var saveStudentsBtn = document.getElementById('save-students-btn');

            allStudentsList.addEventListener("change", function () {
                var selectedEmail = allStudentsList.value;
                console.log(selectedEmail);
                // Construct the route URL with the selected email value
                var routeUrl = "{{ path('app_group_add_existing_student', {'groupId': 'group', 'userId': 'selectedEmail'}) }}";
                routeUrl = routeUrl.replace('group', {{ group.id }});
                routeUrl = routeUrl.replace('selectedEmail', (selectedEmail));


                // Update the "Add from existing students" button URL
                addExistingStudentBtn.href = routeUrl;
            });

            addExistingStudentBtn.addEventListener("click", function () {
                // addExistingStudentBtn.href = routeUrl;
                addExistingStudentBtn.click();
            })

            // createStudentsBtn.addEventListener("click", function () {
            //     var newStudentEmail = document.createElement("input");
            //     newStudentEmail.type = "email";
            //     newStudentEmail.name = "email";
            //     newStudentEmail.id = "email";
            //     newStudentEmail.placeholder = "Email";
            //
            //     var newStudentPassword = document.createElement("input");
            //     newStudentPassword.type = "password";
            //     newStudentPassword.name = "password";
            //     newStudentPassword.id = "password";
            //     newStudentPassword.placeholder = "Password";
            //
            //     studentsFormDiv.appendChild(newStudentEmail);
            //     studentsFormDiv.appendChild(newStudentPassword);
            // });

            createStudentsBtn.addEventListener("click", function () {
                var emailInputs = [];
                var passwordInputs = [];

                var newStudentEmail = document.createElement("input");
                newStudentEmail.type = "email";
                newStudentEmail.name = "email";
                newStudentEmail.placeholder = "Email";
                newStudentEmail.id = "student-form-input-email"

                var newStudentPassword = document.createElement("input");
                newStudentPassword.type = "password";
                newStudentPassword.name = "password";
                newStudentPassword.placeholder = "Password";
                newStudentPassword.id = "student-form-input-password"

                emailInputs.push(newStudentEmail);
                passwordInputs.push(newStudentPassword);

                var br = document.createElement("br");
                studentsFormDiv.appendChild(newStudentEmail);
                studentsFormDiv.appendChild(br); // Add a line break
                studentsFormDiv.appendChild(newStudentPassword);
                studentsFormDiv.appendChild(br.cloneNode());
            });

            {#saveStudentsBtn.addEventListener("click", function () {#}
            {#    var studentsForm = document.createElement("form");#}
            {#    studentsForm.method = "POST";#}
            {#    studentsForm.action = "{{ path('app_create_student_account', { groupId: group.id}) }}";#}

            {#    var emailInput = document.getElementById("email");#}
            {#    var passwordInput = document.getElementById("password");#}
            {#    if (emailInput.value && passwordInput.value) {#}
            {#        var newEmailInput = document.createElement("input");#}
            {#        newEmailInput.type = "hidden";#}
            {#        newEmailInput.name = "email";#}
            {#        newEmailInput.value = emailInput.value;#}

            {#        var newPasswordInput = document.createElement("input");#}
            {#        newPasswordInput.type = "hidden";#}
            {#        newPasswordInput.name = "password";#}
            {#        newPasswordInput.value = passwordInput.value;#}

            {#        studentsForm.appendChild(newEmailInput);#}
            {#        studentsForm.appendChild(newPasswordInput);#}
            {#    }#}

            {#    document.body.appendChild(studentsForm);#}
            {#    studentsForm.submit();#}
            {#});#}

            saveStudentsBtn.addEventListener("click", function () {
                var studentsForm = document.createElement("form");
                studentsForm.method = "POST";
                studentsForm.action = "{{ path('app_create_student_account', { groupId: group.id}) }}";

                var emailInputs = document.getElementsByName("email");
                var passwordInputs = document.getElementsByName("password");
                var allInputsSet = true;

                for (var i = 0; i < emailInputs.length; i++) {
                    if (emailInputs[i].value.trim() === '' || passwordInputs[i].value.trim() === '') {
                        allInputsSet = false;
                        break;
                    }
                }

                if (allInputsSet) {
                    for (var i = 0; i < emailInputs.length; i++) {
                        var newEmailInput = document.createElement("input");
                        newEmailInput.type = "hidden";
                        newEmailInput.name = "emails[]";
                        newEmailInput.value = emailInputs[i].value;

                        var newPasswordInput = document.createElement("input");
                        newPasswordInput.type = "hidden";
                        newPasswordInput.name = "passwords[]";
                        newPasswordInput.value = passwordInputs[i].value;

                        studentsForm.appendChild(newEmailInput);
                        studentsForm.appendChild(newPasswordInput);
                    }

                    document.body.appendChild(studentsForm);
                    studentsForm.submit();
                } else {
                    alert('Please set all email and password combinations before saving!');
                }
            });

        })
    </script>
{% endblock %}