{% extends 'base.html.twig' %}

{% block body %}
    <br>
    {% if is_granted('ROLE_TEACHER') %}
        <button class="general-button">
            <a href="{{ path('app_new_group') }}">
                Create new group
            </a>
        </button><br><br>
        <label class="label-elem">
            Existing groups:
        </label><br><br>

        <table>
            <thead>
                <tr>
                    <th>Unique identifier</th>
                    <th>Group no</th>
                    <th>Created date</th>
                    <th>Faculty</th>
                    <th>No of students</th>
                    <th>Assigned</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                    <tr>
                        <td>{{ group.id }}</td>
                        <td>{{ group.groupNo }}</td>
                        <td>{{ group.createdDate|date('Y-m-d') }}</td>
                        <td>{{ group.faculty }}</td>
                        <td>{{ studentsNoList[group.id] }}</td>
                        <td>
                            {% if group.groupNo in teacherAssignedGroups %}
                                Yes
                            {% else %}
                                No
                            {% endif%}
                        </td>
                        <td>
                            {% if group.groupNo in teacherAssignedGroups %}
                                <a href="{{ path('app_unassign_group', { groupNo: group.groupNo}) }}">
                                    Unassign group
                                </a>
                            {% else %}
                                <a href="{{ path('app_assign_group', { groupNo: group.groupNo}) }}">
                                    Assign to yourself
                                </a>
                            {% endif%}
                                <a href="{{ path('app_group_show_students', { groupId: group.id}) }}">
                                    Show students
                                </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
