{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <label class="label" style="margin-left: 30px">
            Questions List:
        </label><br><br>
        <table style="width: 100%; table-layout: auto;">
            <thead>
            <tr>
                <th style="width: 15px!important;">Id</th>
                <th style="width: 35px!important;">Category</th>
                <th style="width: 35px!important;">Optional description</th>
                <th>Content</th>
                {#                <th>Choice A</th>#}
                {#                <th>Choice B</th>#}
                {#                <th>Choice C</th>#}
                {#                <th>Choice D</th>#}
                <th style="width: 35px!important;">Correct answer</th>
                <th style="width: 35px!important;">Issued by</th>
                <th style="width: 45px!important;">Created At</th>
                <th>Actions</th>
            </tr>
            <tr>
                <form action="{{ path('app_quiz_questions_filter') }}" method="post" name="filter-form">
                    <button type="submit" id="filter-btn" style="margin-left: 30px">
                        {% if  app.request.uri ends with 'filter' %}
                            <div class="general-button">Reset Filters</div>
                        {% else %}
                            <div class="general-button">Apply Filters</div>
                        {% endif %}
                    </button>
                    <br>
                    <br>
                    <input type="hidden" name="action" id="action" value="{{ app.request.uri }}">
                    <th style="width: 15px!important;">
                        <input type="text" placeholder="'Filter" style="color:black;width: 15px!important;" name="id">
                    </th>
                    <th style="width: 35px!important;">
                        <input type="text" placeholder="'Filter" style="color:black;width: 35px!important;" name="category">
                    </th>
                    <th style="width: 35px!important;">
                        <input type="text" placeholder="'Filter" style="color:black;width: 35px!important;" name="optionalDescription">
                    </th>
                    <th>
                        <input type="text" placeholder="'Filter" style="color:black" name="questionContent">
                    </th>
                    <th style="width: 35px!important;">
                        <input type="text" placeholder="'Filter" style="color:black;width: 35px!important;" name="correctAnswer">
                    </th>
                    <th style="width: 35px!important;">
                        <input type="text" placeholder="'Filter" style="color:black;width: 35px!important;" name="issuedBy">
                    </th>
                    <th style="width: 45px!important;">
                        <input type="text" placeholder="'Filter" style="color:black;width: 45px!important;" name="createdAt">
                    </th>
                </form>
            </tr>
            </thead>
            <tbody>
            {% for question in questions %}
                <div>
                    <tr>
                        <td>{{ question.id }}</td>
                        <td>{{ question.category }}</td>
                        <td>{{ question.optionalDescription }}</td>
                        <td>{{ question.questionContent }}
                            <button class="save-button" id="toggle-choices-{{ question.id }}"
                                    onclick="toggleChoices('{{ question.id }}')">
                                Display Choices
                            </button>
                            <br><br>
                            <div id="choices-{{ question.id }}" style="display: none">
                                a. {{ question.choiceA }}
                                <br>
                                b. {{ question.choiceB }}
                                <br>
                                c. {{ question.choiceC }}
                                <br>
                                d. {{ question.choiceD }}
                                <br>
                            </div>
                        </td>
                        <td>{{ question.correctAnswer }}</td>
                        <td>{{ question.issuedBy.user.email }}</td>
                        <td>{{ question.createdAt|date('Y-m-d H:i:s') }}</td>
                        <td>
                            <a href="{{ path('app_edit_question', { questionId: question.id}) }}">
{#                                Edit#}
                                <img src="/../images/edit_icon.png" alt="Edit" title="Edit" width="24" height="24" style="display: inline-block" />
                            </a>
                            <a href="{{ path('app_delete_question', { questionId: question.id}) }}">
{#                                Delete#}
                                <img src="/../images/delete_icon.png" alt="Delete" title="Delete" width="24" height="24" style="display: inline-block" />
                            </a>
                        </td>
                    </tr>
                </div>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#filter-btn').on('click', function() {
            $(this).closest('form').submit();
        });
        window.onload = function() {
            var buttonText = document.querySelector('#filter-btn div').textContent;
            document.querySelector('#action').value = buttonText;
        };

        function toggleChoices(questionId) {
            var contentDiv = document.getElementById('choices-' + questionId);
            var toggleButton = document.getElementById('toggle-choices-' + questionId);

            if (contentDiv.style.display === 'none') {
                contentDiv.style.display = 'block';
                toggleButton.textContent = 'Hide Choices';
            } else {
                contentDiv.style.display = 'none';
                toggleButton.textContent = 'Show Choices';
            }
        }
    </script>

{% endblock %}