{% extends 'base.html.twig' %}

{% block body %}
    <br>
    {% if submittedQuiz is defined and submittedQuiz == null %}
        <div class="box">
            <div class="label"> No results found</div><br>
            <div class="label"> The quiz was not attempted by students yet!</div>
        </div>
    {% else %}
        {% if is_granted('ROLE_TEACHER') %}
            <div class="container">
                <div class="box">
                    <span class="label">
                        Quiz Id:  {{ requiredQuiz.id }}
                    </span>
                    <br>
                    <span>
                        Questions category:  {{ requiredQuiz.category }}
                    </span>
                    <span>
                        Description:  {{ requiredQuiz.description }}
                    </span>
                    <br>
                    <div>
                         <span>
                        Start at:  {{ requiredQuiz.startAt|date('d/m/Y') }}
                    </span>
                        <span>
                        End at:  {{ requiredQuiz.endAt|date('d/m/Y') }}
                    </span>
                    </div>
                    <br>
                    <span>
                        Duration:  {{ requiredQuiz.timeLimit~' '~requiredQuiz.timeUnit }}
                    </span>
                    <span>
                        Assigned Groups:
                        {% for group in requiredQuiz.assigneeGroup %}
                            {{ group~' ' }}
                        {% endfor %}
                    </span>
                    <br>
                    <span>
                        Number of questions:  {{ requiredQuiz.questionsNo }}
                    </span>
                    <br>
                    <span>
                        Maximum grade:  {{ requiredQuiz.maxGrade~' ('~requiredQuiz.maxPoints~' points)' }}
                    </span>
                    {#         to do: add reports data#}
                    <br><br>
                    <hr>
                    <div>
                        <button class="save-button">
                            <a href="{{ path('app_quiz_download_time_spent_report', { quizId: requiredQuiz.id }) }}">
                                Download time spent report
                            </a></button>
                    </div>
                </div>
                <br>

                {% if groups is defined and groups is not null %}
                    {% if app.request.attributes.get('_route_params').groupNo is defined %}
                        <div class="box">
                        <button class="save-button">
                              <a href="{{ path('app_quiz_download_submitted_quiz_report_group', {
                                quizId: requiredQuiz.id,
                                groupNo: app.request.attributes.get('_route_params').groupNo
                              }) }}">
                                Download grades report
                              </a>
                        </button>
                    </div>
                    {% endif %}
                {% endif %}

                <label class="label" style="margin-left: 30px">
                    Completed by
                </label>
                <br><br>
                <div>
                    <table style="width: 100%">
                        <thead>
                        <tr>
                            <th>Unique identifier </th>
                            <th>Student id</th>
                            <th>Group</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Started at</th>
                            <th>Ended at</th>
                            <th>Grade</th>
                            <th>Spent time</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for submittedQuiz in submittedQuizzes %}
                            <div>
                                <tr>
                                    <td>{{ submittedQuiz.id }}</td>
                                    <td>{{ submittedQuiz.supportedBy.id }}</td>
                                    {% for group in groups %}
                                        {% if group.id == submittedQuiz.supportedBy.student.groupId %}
                                            <td>{{ group.groupNo }}</td>
                                        {% endif %}
                                    {% endfor %}
                                    <td>{{ submittedQuiz.supportedBy.email }}</td>
                                    {% if submittedQuiz.supportedBy.userProfile is defined and submittedQuiz.supportedBy.userProfile is not null %}
                                        <td>{{ submittedQuiz.supportedBy.userProfile.firstName ~ ' ' ~ submittedQuiz.supportedBy.userProfile.lastName }}</td>
                                    {% else %}
                                        <td>
                                        </td>
                                    {% endif %}
                                    <td>{{ submittedQuiz.startedAt|date('Y-m-d H:i:s') }}</td>
                                    <td>{{ submittedQuiz.endedAt|date('Y-m-d H:i:s') }}</td>
                                    <td>{{ submittedQuiz.obtainedGrade~' / '~requiredQuiz.maxGrade }}</td>
                                    <td>{{ submittedQuiz.totalTimeSpent|date('i:s') }}</td>
                                    <td>
                                        <a href="{{ path('app_quiz_view_one_result', { quiz: requiredQuiz.id, user: submittedQuiz.supportedBy.id }) }}">
{#                                            View detailed#}
                                            <img src="/../images/view_detailed.png" alt="View detailed" title="View submitted quiz" width="24" height="24" style="display: inline-block" />
                                        </a>
                                    </td>
                                </tr>
                            </div>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    {% endif %}
    {% endif %}
{% endblock %}
