{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(supportQuiz) }}

        {% if remainingTime != null %}
            <div>
                <label>Remaining Time: </label>
                <span id="remaining-time">{{ remainingTime | date('i:s') }}</span>
                <input type="text" id="remainingTime" name="remainingTime" value="{{ remainingTime }}" style="visibility: hidden">
                <input type="text" id="started-time" name="started-time" value="{{ remainingTime }}" style="visibility: hidden">
                <input type="text" id="seconds-spent" name="seconds-spent" value="" style="visibility: hidden">
            </div>
        {% endif %}
        <fieldset>
        <div>
            <label>{{ (index + 1)~'. '~question.questionContent }}</label>
        </div>
        <div>
            <input type="radio" id="choiceA" name="answerOption" value="{{ question.choiceA }}" checked>
            <label for="{{ question.choiceA }}">{{ 'a. '~question.choiceA }}</label>
        </div>
        <div>
            <input type="radio" id="choiceB" name="answerOption" value="{{ question.choiceB }}">
            <label for="{{ question.choiceB }}">{{ 'b. '~question.choiceB }}</label>
        </div>
        <div>
            <input type="radio" id="choiceC" name="answerOption" value="{{ question.choiceC }}">
            <label for="{{ question.choiceC }}">{{ 'c. '~question.choiceC }}</label>
        </div>
        <div>
            <input type="radio" id="choiceD" name="answerOption" value="{{ question.choiceD }}">
            <label for="{{ question.choiceD }}">{{ 'd. '~question.choiceD }}</label>
        </div>
            <input type="text" id="index" name="index" value="{{ index }}" style="visibility: hidden">

        </fieldset>

    {{ form_end(supportQuiz) }}

    <script>
        {{ parent() }}
        var timeRemaining = {{ remainingTime }}; // minutes in seconds

        $(document).ready(function() {
            // function updateTime() {
            //     console.log('in time update');
            //     var minutes =  Math.floor(timeRemaining / 60);
            //     var seconds = timeRemaining % 60;
            //     var timeString = minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
            //     document.getElementById('remaining-time').textContent = timeString;
            //
            //     timeRemaining--; // Decrement the time remaining by one second
            //
            //     if (timeRemaining < 0) {
            //         console.log((timeRemaining));
            //         clearInterval(intervalId); // Stop the countdown
            //         const submitBtn = document.getElementById("start_quiz_form_submit");
            //         submitBtn.click();
            //         // $('form#start_quiz_form').submit();
            //     }
            // }
            function updateTime() {
                console.log('in time update');
                var minutes =  Math.floor(timeRemaining / 60);
                var seconds = timeRemaining % 60;
                var timeString = minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
                document.getElementById('remaining-time').textContent = timeString;
                document.getElementById('remainingTime').value = timeRemaining;
                document.getElementById('seconds-spent').value = document.getElementById('started-time').value - timeRemaining;

                timeRemaining--; // Decrement the time remaining by one second

                if (timeRemaining < 0) {
                    console.log((timeRemaining));
                    clearInterval(intervalId); // Stop the countdown
                    const submitBtn = document.getElementById("start_quiz_form_submit");
                    submitBtn.click();
                    // $('form#start_quiz_form').submit();
                }
            }

            // Start the countdown timer
            var intervalId = setInterval(updateTime, 1000);
        });
    </script>
{% endblock %}