<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Assess Tracker{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                darkMode: 'class'
            }
        </script>
    </head>
    <body class="
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            main-body
        {% else %}
            main-body-white
        {% endif %}">
    <div class="menu-container">
        <div style="text-align: left">
            <div class="menu-block">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="menu-margin">
                        <a href="{{ path('app_home') }}" class="menu-item">
                            Home
                        </a>
                    </div>
                    <div class="menu-margin">
                        <a href="{{ path('app_support') }}" class="menu-item">
                            TalkSpot
                        </a>
                    </div>
                    <div class="menu-margin">
                        <a href="{{ path('app_assessment') }}" class="menu-item">Assessments</a>
                    </div>
                    {% if is_granted('ROLE_TEACHER') %}
                        <div class="menu-margin">
                            <a href="{{ path('app_show_groups') }}" class="menu-item">Manage Groups</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div style="text-align: right">
            <div class="menu-block">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="menu-margin">
                        <a href="#" class="menu-item">
                            Welcome, {{ app.user.email }}!
                        </a>
                    </div>
                    <div class="menu-margin">
                        <a href="{{ path('app_profile_settings') }}" class="menu-item">
                            Profile Settings
                        </a>
                    </div>
                    <div class="menu-margin">
                        <a href="{{ path('app_logout') }}" class="menu-item">Logout</a>
                    </div>
                {% else %}
{#                    <div>#}
{#                        <a href="{{ path('app_login') }}">Login</a>#}
{#                    </div>#}
{#                    <div class="ml-2">#}
{#                        <a href="{{ path('app_register') }}">#}
{#                            Register#}
{#                        </a>#}
{#                    </div>#}
                {% endif %}
            </div>
        </div>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="main-image">
            <img src="/../images/background-image.jpg" alt="Image description" class="img">
        </div>
    {% endif %}
    <div class="w-full md:w-2/3 mx-auto">
        {% for message in app.flashes('success') %}
            <div class="rounded-md p-2 border-green-300 bg-green-50 border dark:border-green-600 dark:bg-green-700 dark:text-black mb-4">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="rounded-md p-2 border-red-300 bg-red-50 border dark:border-red-600 dark:bg-green-700 dark:text-black mb-4">{{ message }}</div>
        {% endfor %}

        {% block body %}{% endblock %}
    </div>
</body>
</html>